In [1]:
import pandas as  pd
import numpy as np
import datetime as dt
import os
os.getcwd()

'C:\\Users\\omprakash.bankol\\Desktop\\MARS_Russia\\Analytical Dataset Creation_v1\\Analytical Dataset Creation\\Code'

In [2]:
si_choco = pd.read_csv(r"../Data/Raw Data/(BARS)MERGED 2017-2020 NIELSEN BARS DATA LONG FORMAT.csv")
si_choco.shape

(118174, 30)

In [3]:
si_choco = si_choco[~si_choco.SKU.str.contains("TOTAL IMPULSE CHOCOLATE")]
si_choco.shape

(94990, 30)

In [4]:
si_choco.columns

Index(['Unnamed: 0', 'ID_map', 'Category', 'Sub Category', 'Manufacturer',
       'Brand', 'SKU', 'Channel', 'Week', '1:Volume (in 1000)',
       '1:Value (in 1000 RUR)', '1:Units (in 1000 PACKS)', '1:Price per Unit',
       '1:Price per Volume', '1:Numeric Distribution (w)',
       '1:Weighted Distribution (w)', '2:Volume (in 1000)',
       '2:Value (in 1000 RUR)', '2:Units (in 1000 PACKS)', '2:Price per Unit',
       '2:Price per Volume', '2:Numeric Distribution (w)',
       '2:Weighted Distribution (w)', '3:Volume (in 1000)',
       '3:Value (in 1000 RUR)', '3:Units (in 1000 PACKS)', '3:Price per Unit',
       '3:Price per Volume', '3:Numeric Distribution (w)',
       '3:Weighted Distribution (w)'],
      dtype='object')

In [5]:
si_choco = si_choco.rename(columns={"1:Value (in 1000 RUR)": "value_sales"})

In [6]:
si = pd.DataFrame()
si = si_choco[["Week","value_sales"]]

In [7]:
si = si.groupby(by = "Week", as_index=False).sum()

In [8]:
si['Year'] = si['Week'].str.slice(2, 6)

In [9]:
si['week_number'] = si['Week'].str.slice(7, 9)

In [10]:
si.Year = pd.to_numeric(si.Year)
si.week_number = pd.to_numeric(si.week_number)

In [11]:
si = si.loc[(si["Year"]==2018) | (si["Year"]==2019)]

In [12]:
si.shape

(104, 4)

In [13]:
mysi = pd.DataFrame()

In [14]:
mysi['week_number'] = np.arange(1,53,1)

In [15]:
value_sales_2018=[]
value_sales_2019=[]
for i in mysi.week_number:
    value_sales_2018.append(float(si.value_sales[(si.Year==2018) & (si.week_number==i)]))
    value_sales_2019.append(float(si.value_sales[(si.Year==2019) & (si.week_number==i)]))

In [16]:
mysi['value_sales_2018'] = value_sales_2018
mysi['value_sales_2019'] = value_sales_2019

In [17]:
mysi.value_sales_2018 = mysi.value_sales_2018/np.mean(mysi.value_sales_2018)
mysi.value_sales_2019 = mysi.value_sales_2019/np.mean(mysi.value_sales_2019)

In [18]:
mysi['SI'] = (mysi.value_sales_2018 + mysi.value_sales_2019)/2

In [19]:
del mysi["value_sales_2018"]
del mysi["value_sales_2019"]
mysi

    week_number        SI
0             1  0.518443
1             2  0.663974
2             3  0.806288
3             4  0.837651
4             5  0.827853
5             6  0.874874
6             7  0.918882
7             8  0.964319
8             9  0.932760
9            10  0.868237
10           11  0.913598
11           12  0.950630
12           13  0.979531
13           14  0.969561
14           15  0.947279
15           16  0.937099
16           17  0.935986
17           18  0.824405
18           19  0.873571
19           20  0.958555
20           21  0.964913
21           22  0.972519
22           23  1.107767
23           24  1.059144
24           25  1.003917
25           26  0.936650
26           27  0.892273
27           28  0.930666
28           29  0.928823
29           30  0.904458
30           31  0.940300
31           32  1.053519
32           33  1.059649
33           34  1.128642
34           35  1.129698
35           36  1.164811
36           37  1.225684
37           38  1.428966
38           39  1.338768
39           40  1.199838
40           41  1.161654
41           42  1.137926
42           43  1.124671
43           44  1.069313
44           45  1.025331
45           46  1.138038
46           47  1.100263
47           48  1.062670
48           49  1.104138
49           50  1.117727
50           51  1.057800
51           52  1.025968

In [20]:
mysi.to_excel(r"../Process/SI_Index/Bars_18_19 Seasonality Index.xlsx", index=False)