In [1]:
import pandas as  pd
import numpy as np
import datetime as dt
import os
os.getcwd()

'C:\\Users\\omprakash.bankol\\Desktop\\MARS_Russia\\Analytical Dataset Creation_v1\\Analytical Dataset Creation\\Code'

In [2]:
si_choco = pd.read_csv(r"../Data/Raw Data/(BARS)MERGED 2017-2020 NIELSEN BARS DATA LONG FORMAT.csv")
si_choco.shape

(118174, 30)

In [3]:
si_choco = si_choco[~si_choco.SKU.str.contains("TOTAL IMPULSE CHOCOLATE")]
si_choco.shape

(94990, 30)

In [4]:
si_choco.columns

Index(['Unnamed: 0', 'ID_map', 'Category', 'Sub Category', 'Manufacturer',
       'Brand', 'SKU', 'Channel', 'Week', '1:Volume (in 1000)',
       '1:Value (in 1000 RUR)', '1:Units (in 1000 PACKS)', '1:Price per Unit',
       '1:Price per Volume', '1:Numeric Distribution (w)',
       '1:Weighted Distribution (w)', '2:Volume (in 1000)',
       '2:Value (in 1000 RUR)', '2:Units (in 1000 PACKS)', '2:Price per Unit',
       '2:Price per Volume', '2:Numeric Distribution (w)',
       '2:Weighted Distribution (w)', '3:Volume (in 1000)',
       '3:Value (in 1000 RUR)', '3:Units (in 1000 PACKS)', '3:Price per Unit',
       '3:Price per Volume', '3:Numeric Distribution (w)',
       '3:Weighted Distribution (w)'],
      dtype='object')

In [5]:
si_choco = si_choco.rename(columns={"1:Value (in 1000 RUR)": "value_sales"})

In [6]:
si = pd.DataFrame()
si = si_choco[["Week","value_sales"]]

In [7]:
si = si.groupby(by = "Week", as_index=False).sum()

In [8]:
#for 2017 and 2018

In [9]:
si_17_18 = si
si_17_18.loc[96]

Week           W 2019 01
value_sales       113426
Name: 96, dtype: object

In [10]:
si_17_18['Week'].loc[96] = 'W 2017 01'
si_17_18['Week'].loc[97] = 'W 2017 02'
si_17_18['Week'].loc[98] = 'W 2017 03'
si_17_18['Week'].loc[99] = 'W 2017 04'
si_17_18['Week'].loc[100] = 'W 2017 05'
si_17_18['Week'].loc[101] = 'W 2017 06'
si_17_18['Week'].loc[102] = 'W 2017 07'
si_17_18['Week'].loc[103] = 'W 2017 08'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
si_17_18['Year'] = si_17_18['Week'].str.slice(2, 6)

In [12]:
si_17_18['week_number'] = si_17_18['Week'].str.slice(7, 9)
si_17_18

          Week  value_sales  Year week_number
0    W 2017 09     174643.4  2017          09
1    W 2017 10     164675.7  2017          10
2    W 2017 11     170955.0  2017          11
3    W 2017 12     170129.7  2017          12
4    W 2017 13     165103.8  2017          13
5    W 2017 14     166637.7  2017          14
6    W 2017 15     173512.2  2017          15
7    W 2017 16     169272.7  2017          16
8    W 2017 17     172407.5  2017          17
9    W 2017 18     172412.2  2017          18
10   W 2017 19     173102.4  2017          19
11   W 2017 20     181073.1  2017          20
12   W 2017 21     181826.3  2017          21
13   W 2017 22     179821.2  2017          22
14   W 2017 23     171323.4  2017          23
15   W 2017 24     172688.9  2017          24
16   W 2017 25     171602.5  2017          25
17   W 2017 26     162475.6  2017          26
18   W 2017 27     171462.1  2017          27
19   W 2017 28     175504.9  2017          28
20   W 2017 29     169135.4  2017          29
21   W 2017 30     165226.7  2017          30
22   W 2017 31     161038.0  2017          31
23   W 2017 32     178835.4  2017          32
24   W 2017 33     165262.9  2017          33
25   W 2017 34     164734.4  2017          34
26   W 2017 35     181488.4  2017          35
27   W 2017 36     189151.4  2017          36
28   W 2017 37     186631.6  2017          37
29   W 2017 38     241723.8  2017          38
..         ...          ...   ...         ...
131  W 2019 36     282942.9  2019          36
132  W 2019 37     292942.8  2019          37
133  W 2019 38     346962.2  2019          38
134  W 2019 39     304243.6  2019          39
135  W 2019 40     262887.3  2019          40
136  W 2019 41     242947.2  2019          41
137  W 2019 42     233082.2  2019          42
138  W 2019 43     238270.3  2019          43
139  W 2019 44     226379.5  2019          44
140  W 2019 45     215131.2  2019          45
141  W 2019 46     228732.8  2019          46
142  W 2019 47     227658.4  2019          47
143  W 2019 48     227981.7  2019          48
144  W 2019 49     240001.8  2019          49
145  W 2019 50     249921.3  2019          50
146  W 2019 51     230631.9  2019          51
147  W 2019 52     219117.6  2019          52
148  W 2020 01     143788.2  2020          01
149  W 2020 02     143836.1  2020          02
150  W 2020 03     185620.9  2020          03
151  W 2020 04     200701.2  2020          04
152  W 2020 05     197711.9  2020          05
153  W 2020 06     205932.7  2020          06
154  W 2020 07     223673.6  2020          07
155  W 2020 08     215088.0  2020          08
156  W 2020 09     196738.3  2020          09
157  W 2020 10     214756.3  2020          10
158  W 2020 11     203421.9  2020          11
159  W 2020 12     240340.6  2020          12
160  W 2020 13     226525.4  2020          13

[161 rows x 4 columns]

In [13]:
si_17_18.Year = pd.to_numeric(si_17_18.Year)
si_17_18.week_number = pd.to_numeric(si_17_18.week_number)

In [14]:
si_17_18 = si_17_18.loc[(si_17_18["Year"]==2017) | (si_17_18["Year"]==2018)]

In [15]:
si_17_18

          Week  value_sales  Year  week_number
0    W 2017 09     174643.4  2017            9
1    W 2017 10     164675.7  2017           10
2    W 2017 11     170955.0  2017           11
3    W 2017 12     170129.7  2017           12
4    W 2017 13     165103.8  2017           13
5    W 2017 14     166637.7  2017           14
6    W 2017 15     173512.2  2017           15
7    W 2017 16     169272.7  2017           16
8    W 2017 17     172407.5  2017           17
9    W 2017 18     172412.2  2017           18
10   W 2017 19     173102.4  2017           19
11   W 2017 20     181073.1  2017           20
12   W 2017 21     181826.3  2017           21
13   W 2017 22     179821.2  2017           22
14   W 2017 23     171323.4  2017           23
15   W 2017 24     172688.9  2017           24
16   W 2017 25     171602.5  2017           25
17   W 2017 26     162475.6  2017           26
18   W 2017 27     171462.1  2017           27
19   W 2017 28     175504.9  2017           28
20   W 2017 29     169135.4  2017           29
21   W 2017 30     165226.7  2017           30
22   W 2017 31     161038.0  2017           31
23   W 2017 32     178835.4  2017           32
24   W 2017 33     165262.9  2017           33
25   W 2017 34     164734.4  2017           34
26   W 2017 35     181488.4  2017           35
27   W 2017 36     189151.4  2017           36
28   W 2017 37     186631.6  2017           37
29   W 2017 38     241723.8  2017           38
..         ...          ...   ...          ...
74   W 2018 31     160247.1  2018           31
75   W 2018 32     173709.2  2018           32
76   W 2018 33     184352.7  2018           33
77   W 2018 34     195078.2  2018           34
78   W 2018 35     196308.7  2018           35
79   W 2018 36     196607.4  2018           36
80   W 2018 37     210993.1  2018           37
81   W 2018 38     241319.4  2018           38
82   W 2018 39     243965.8  2018           39
83   W 2018 40     227050.2  2018           40
84   W 2018 41     229764.2  2018           41
85   W 2018 42     229281.3  2018           42
86   W 2018 43     219823.4  2018           43
87   W 2018 44     209143.2  2018           44
88   W 2018 45     202204.5  2018           45
89   W 2018 46     233059.1  2018           46
90   W 2018 47     219725.4  2018           47
91   W 2018 48     205260.1  2018           48
92   W 2018 49     210587.4  2018           49
93   W 2018 50     207197.0  2018           50
94   W 2018 51     201146.3  2018           51
95   W 2018 52     199021.2  2018           52
96   W 2017 01     113426.0  2017            1
97   W 2017 02     131051.7  2017            2
98   W 2017 03     160788.1  2017            3
99   W 2017 04     175480.9  2017            4
100  W 2017 05     174087.2  2017            5
101  W 2017 06     176239.7  2017            6
102  W 2017 07     192475.2  2017            7
103  W 2017 08     200839.9  2017            8

[104 rows x 4 columns]

In [16]:
mysi = pd.DataFrame()

In [17]:
mysi['week_number'] = np.arange(1,53,1)

In [18]:
value_sales_2017=[]
value_sales_2018=[]
for i in mysi.week_number:
    value_sales_2017.append(float(si_17_18.value_sales[(si_17_18.Year==2017) & (si_17_18.week_number==i)]))
    value_sales_2018.append(float(si_17_18.value_sales[(si_17_18.Year==2018) & (si_17_18.week_number==i)]))

In [19]:
mysi['value_sales_2017'] = value_sales_2017
mysi['value_sales_2018'] = value_sales_2018

In [20]:
mysi.value_sales_2017 = mysi.value_sales_2017/np.mean(mysi.value_sales_2017)
mysi.value_sales_2018 = mysi.value_sales_2018/np.mean(mysi.value_sales_2018)

In [21]:
mysi['SI'] = (mysi.value_sales_2017 + mysi.value_sales_2018)/2

In [22]:
del mysi["value_sales_2017"]
del mysi["value_sales_2018"]
mysi

    week_number        SI
0             1  0.570559
1             2  0.724188
2             3  0.880166
3             4  0.918279
4             5  0.907841
5             6  0.955850
6             7  1.007318
7             8  1.056599
8             9  0.973232
9            10  0.896467
10           11  0.941182
11           12  0.943477
12           13  0.925933
13           14  0.916684
14           15  0.938467
15           16  0.921451
16           17  0.955830
17           18  0.898995
18           19  0.940266
19           20  0.988906
20           21  0.999977
21           22  1.007635
22           23  1.033832
23           24  0.996150
24           25  0.949598
25           26  0.919101
26           27  0.922590
27           28  0.932874
28           29  0.887761
29           30  0.858159
30           31  0.865055
31           32  0.949402
32           33  0.940483
33           34  0.967457
34           35  1.016540
35           36  1.038291
36           37  1.069517
37           38  1.300552
38           39  1.302176
39           40  1.185637
40           41  1.211068
41           42  1.180485
42           43  1.137566
43           44  1.061772
44           45  1.048734
45           46  1.315860
46           47  1.192773
47           48  1.093208
48           49  1.110670
49           50  1.107709
50           51  1.081270
51           52  1.054408

In [23]:
mysi.to_excel(r"../Process/SI_Index/Bars_17_18 Seasonality Index.xlsx", index=False)